<div class="home-container">
  <!-- Menú de navegación -->
  <header>
    <nav>
      <a routerLink="/location">Location</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/about-us">About Us</a>
      <a routerLink="/franchise">Franchise with Us</a>
    </nav>
  </header>

  <section class="content">
    <div class="intro-text">
      <h1>{{ displayText }}</h1>
      <p>For over 17 years, Fetch! Pet Care has been a trusted partner in keeping pets healthy and happy!</p>
      <button>Schedule Service</button>
    </div>
    <div class="pet-image">
      <img src="../../../assets/perrito.png" alt="Perrito">
    </div>
  </section>
</div>
